@use '../../styles/variables' as *;

.artisans-page {
  min-height: calc(100vh - 120px);

  &__empty {
    text-align: center;
    padding: 4rem 1rem;
    color: $color-gray;
    font-size: 1.1rem;
  }
}