@use '../../styles/variables' as *;

.star-rating {
  display: flex;
  gap: 2px;
  justify-content: center;
  color: $color-primary;

  &--sm svg { font-size: 1rem; }
  &--md svg { font-size: 1.5rem; }
  &--lg svg { font-size: 1.75rem; }
}